Django==3.2
mysqlclient==2.1.0
numpy==1.22.3
fabric==2.6.0
celery-progress==0.1.2
pandas==1.4.1
pykafka==2.8.0
scikit-learn==1.0.2
xhtml2pdf==0.2.4
XenAPI==2.14
PyQRCode==1.2.1
python-freeipa==1.0.5
django-freeipa-auth-json==0.1.2.dev1
celery==4.4.7
django-celery-results==1.2.1
matplotlib==3.5.1
pypng==0.0.21
django-environ==0.8.1
redis==4.2.0
django-cleanup==6.0.0
paho-mqtt==1.5.1
wiki==0.8
reportlab==3.6.1
git+https://github.com/marcelogumercinocosta/django-garb.git

